body {color: black; background: white; font-family: sans-serif, Verdana, Arial, Helvetica; font-size: 0.8em; padding:0;}
.header {background-color:#0d0d0d;}
.chaphead {font-size: 1.3em; font-weight: bold; }
.ncontent {padding: 0em; margin-top: 0.5em; margin-bottom: 0.5em; font-family: sans-serif, Verdana, Arial, Helvetica; font-size: 0.9em;background-color:#9ca3a9;color:#ffffff;}
.secthead {font-size: 1.1em; color: #656565;   font-weight: bold; font-family: sans-serif, Verdana, Arial, Helvetica;}
.ntable {padding: 0em; margin-top: 0.5em; margin-bottom: 0.5em;}
.codetitle {background-color:#0d0d0d;}
.codebody {background-color:#e7eef4;}
pre {margin-top: 0; margin-bottom: 0; padding: 0.5em; font-family: monospace, Courier New; color: #000000; font-size: 0.9em; overflow: auto;}
.codetitle-text {font-size: 0.9em; font-family: sans-serif, Verdana, Arial, Helvetica; padding: 0.25em; margin-left: 1.0em; margin-top: 0; margin-bottom: 0;	color: #ffffff;	font-weight: bold;}
.code-input {color:#0d0d0d;}
.code-comment {color:#d80000;font-weight: bold;}
.content {padding-top: 0em; padding-left: 1.0em; padding-right: 1.0em; font-family: sans-serif, Verdana, Arial, Helvetica; font-size: 1em;}
.footer {font-size: 0.80em; font-family: sans-serif, Verdana, Arial, Helvetica; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 1.0em; padding-right: 1.0em; margin-left: 1.0em; color: #ffffff; background-color: #0d0d0d; font-weight: bold;}

a.highlight:link {color: #00ff00; text-decoration: none;}
a.highlight:visited {color: #00ff00; text-decoration: none;}
a.highlight:hover {color: #00ff00; text-decoration: underline;}
a.highlight:active {color: #00ff00; text-decoration: underline;}
a.altlink:link {color: #0d0d0d; text-decoration: none;}
a.altlink:visited {color: #000000; text-decoration: none;}
a.altlink:hover {color: #0d0d0d; text-decoration: underline;}
a.altlink:active {color: #0d0d0d; text-decoration: underline;}
