/*
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700); 

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
}
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}
body { margin: 0; padding: 0 
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        }
#header {	
	float:left;
	width: 96%;
	padding: 10px 2%;
	border: none;
}
#main {
	float:left;
	width: 96%;
	padding: 5px 2%;
	border: none;
}
#footer {
	float:left;
	width: 96%;
	padding: 10px 2%;
	border: none;
}

.menu-top-left {
font-size: 12px;
float: left;height: 30px;
margin: 5px 10px 0 0;
}

.menu-main-left {
font-size: 11px;
float: left;
height: 30px;
margin: 5px 10px 0 0;
}
.menu-main-left label,
.menu-main-left input { float:left; margin-right:5px; }

 

#logo
{ float: left; height: 30px;
margin: 5px 30px 0 0; }

.menu-top-right 
{
	float: right; 
	font-size: 11px;height: 30px; 
height: 30px;
margin: 5px 10px 0 0;
	 }
#header-info { 
float: left;
font-size: 12px;
font-weight: normal;
padding: 5px 0 0 15px;
height: 25px; 
margin: 5px 30px 0 0;
}
#newsfeed {
float:left;
margin: 10px 0 3px 0;
height: 20px;
}

.clr { clear: both; }
div.clr { clear: both; height: 5px;}

.extra-info{
transition: all .5s ease; 
opacity: 0;
padding-left: 10px;
position: absolute;
visibility: hidden;
}

#header-info:hover > .extra-info {
       transition: all .5s ease;   opacity: 1;
visibility: visible;
}


/* progress bar */
.ui-progressbar { position:relative; }
.pblabel { text-transform:uppercase; position: absolute;display: block;  width: 100%; text-align: center;  }
.ui-progressbar-value{ overflow: hidden; }
.ui-progressbar-value .pblabel { position: relative; font-weight: normal;   }
/* END progress bar */



/*********************************************/
/* 2014 above */
/*********************************************/
 
 
/*** end google fonts ***/

/* 

#frame-wrapper
{
text-align:left;
width:700px;
margin:10px auto 10px auto;
background: #9e9e9e;
}
 

#header
{
width:964px;
padding:10px 30px 10px 30px;
text-align:center;
}
 
#content-wrapper
{
width:1024px;
}

#content-inner
{
padding:12px;
}
#navigation
{
padding:5px 5px 5px 5px;
}

#footer
{
width:1014px;
padding:5px;
text-align:center;
clear:both;
}

#header sup {font-size:12px;}
#footer sup {font-size:9px;}
*/
#back-top {
	display: block;
	display: none;
	border-radius: 6px;
	z-index: 999; 
	position: fixed;
	bottom: 5px;
	right: 10px;   
	outline: none;
	width: 50px;
	height: 50px;
	background: url(../images/back-top.png) no-repeat 0 0;
}
#back-top:hover {
	background-position: -50px 0;
}
.white12px
{
  color:#ffffff;
  font-size:12px;
  }

a:link              { text-decoration:none; }
a:visited           { text-decoration:none; }
a:hover             { text-decoration:none; }
a:active            { text-decoration:none; }
a.black:link    { color:#000000; text-decoration:underline; }
a.black:visited { color:#000000; text-decoration:underline; }
a.black:hover   { color:#000000; text-decoration:none; }
a.black:active  { color:#000000; text-decoration:underline; }
/*
a.white:link    { color:#ffffff; text-decoration:underline; }
a.white:visited { color:#ffffff; text-decoration:underline; }
a.white:hover   { color:#ffffff; text-decoration:none; }
a.white:active  { color:#ffffff; text-decoration:underline; }
*/
a.white:link,
a.white:visited,
a.white:hover,
a.white:active { color: red; }
a.paging:link    { color:#ffffff; text-decoration:underline; }
a.paging:visited { color:#ffffff; text-decoration:underline; }
a.paging:hover   { color:#ffffff; text-decoration:underline; }
a.paging:active  { color:#ffffff; text-decoration:underline; }
a.black-n:link    { color:#000000; text-decoration:none; }
a.black-n:visited { color:#000000; text-decoration:none; }
a.black-n:hover   { color:#000000; text-decoration:none; }
a.black-n:active  { color:#000000; text-decoration:none; }
.red { color:red;}

.bgc:hover{
            //  background-color: #d3d3d3;
           outline: #4c4c4c dashed 1px; 
           outline-offset: -4px;  
              }
.shadow:hover {
	box-shadow: 0 0 8px 4px #B7B7B7;
}