<span style='color: #000'>3589 frames</span>	<span style='color: #900'>91,648 KB</span>	<span style='color: #090'>7,868.02 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />